@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root { 
    --cor-texto-primaria: #0A3871 ;
    --cor-texto-secundaria-forte: #343A40;
    --cor-texto-secundaria-fraca: #495057;
    --cor-primaria: #0A3871 ;
    --cor-primaria-fraca: #D8DFE8 ;
    --cor-terciaria: #ffffff;
    --fundo: #f3f5f3;

    --font-family:  'Inter', sans-serif;
}

@media (max-width: 800px) {
    /* 768 1174 */
    main {
        flex-direction: column;
    }
    
    .divlogo {
        margin: 4.5rem 2.5rem 7.25rem 2.5rem;
    }

    .criptografador {
        height: 100%;
    }

    .imagem {
        display: none;
    }
}

@media (max-width: 400px){
      
    .criptografador_area-botoes_botoes{
        flex-direction: column;
    }
}

*{
    margin: 0;
    padding: 0;
    /* tela padrao: 1440x1024 - 1rem = 16px */ 
}

body{
    background-color: var(--fundo);
    box-sizing: border-box;
    color: var(--cor-texto-primaria);
    
}

main{
    display:flex;
    justify-content: space-between;
    height: 100vh;
}

.divlogo{
    margin: 2.5rem;
}

.criptografador{
    margin: 10.5rem 5rem 0 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.criptografador_entrada{
    width: 100%;
    height: 100%;
    margin: 0% 0% 2.5rem 0%;
    border: none;
    background-color: var(--fundo);
    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--cor-texto-primaria);
    resize: none;
    outline: none;
}
.criptografador_entrada::placeholder{
    font-family: var(--font-family);
    color: var(--cor-texto-primaria);
}

.criptografador_area-botoes{
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    margin: 0 0 4.5rem 0;
}

.criptografador_area-botoes_alerta{
    display: flex;
    gap: 0.5rem;
}

.criptografador_area-botoes_botoes{
    display: flex;
    gap: 1.5rem;
}

.criptografar{
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-fraca);
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1.5rem;
    border: 0.0625rem solid;
    border-color: var(--cor-primaria);
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
}

.criptografar:active{
    background-color: var(--fundo);
    color: var(--cor-texto-primaria);
}

.descriptografar{
    background-color: var(--fundo);
    color: var(--cor-primaria);
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1.5rem;
    border: 0.0625rem solid;
    border-color: var(--cor-primaria);
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
}

.descriptografar:active{
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-fraca);

}

#resultado{
    margin: 2.5rem 2.5rem 2.5rem 0;
    width: 30rem;
    padding: 2%;
    border-radius: 2rem;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#mensagem-botao{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    overflow: auto;
}
#mensagem{
    word-wrap: break-word;
    font-size: 2rem;
    border: none;
    background-color: var(--cor-terciaria);
    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--cor-texto-primaria);
    height: 100%;
    width: auto;
}
#copiar{
    border: 0.0625rem solid;
    border-radius: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;  
}
#copiar:active{
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-fraca);
}
.imagem{
    width: 100%;
}

.rodape{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: 2%;
    font-size: 0.5rem;
    text-align: center;
}

@media (max-width: 900px) {
    /* 768 1174 */
    main {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2.5rem;
    }
    .divlogo {
        margin: 0 0 7.25rem 0;
        padding: 2rem 0 0 0;
    }
    .criptografador {
        height: auto;
        margin: 0;
    }
    .criptografador_entrada{
        width: auto;
        min-height: 20rem;
        height: auto;
        overflow: visible;
    }

    #resultado{
        margin: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        padding: 2rem;
        
    }
    .imagem {
        display: none;
    
    }
    #mensagem-botao{
        height: auto;
    }

    #mensagem{
        height: auto;
        overflow: hidden;
    }
    
}

@media (max-width: 450px){
    
    main{
        padding: 1.5rem;
    }
    .divlogo{
        padding: 0.5rem 0 0 0;
    }

    .criptografador_entrada{
        font-size: 1rem ;
    }

    .criptografador_area-botoes_botoes{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .criptografador_area-botoes_alerta{
        font-size: 0.7rem;
    }
    .criptografar{
        width: 100%;
        padding: 1.5rem 0;
    }
    .descriptografar{
        width: 100%;
        padding: 1.5rem 0;
    }
    h1{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    #mensagem{
        font-size: 1rem;
    }
}